<%- include("header") -%>

<h2>To Do List About Page</h2>

<p>In todo List we can add and delete the notes. you can add your work nots and open it from anywhere through web</p>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<%- include("footer") -%>